*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    /* margin: 0 auto; */
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#newTaskForm{
    display: flex;
}

input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#newTaskInput{
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
    width: 600px;
}

#newTaskSubmit{
    color: #FFFFFF;
    background-color: #5A00CC;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.5rem;
}

#newTaskSubmit:hover{
    scale: 1.1;
    background-color: #FFFFFF;
    color: #5A00CC;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
}

.tasksList{
    padding: 1rem;

}

.tasksList h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text{
    font-size: 1.125rem;
    width: 250%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: #5A00CC;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    background-color: #5A00CC;
    color: #FFFFFF;
    font-size: 1rem;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 500;
    border-radius: 0.8rem;
    transition: 0.4s;
}

.task .actions button:hover{
    scale: 1.1;
    background-color: #FFFFFF;
    color: #5A00CC;
}